.header
{
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  height: 4em;
  min-width: 350px;
  margin-bottom: 100px;
}
#projects:active
{
  transition: 2s;
}
@keyframes example {
  0%   {background-color:rgb(255, 155, 155); }
  25%  {background-color:rgb(255, 255, 131);}
  30%  {background-color:rgb(132, 255, 179);}
  50%  {background-color:rgb(143, 143, 255); }
  75%  {background-color:rgb(255, 192, 91); }
  100% {background-color:rgb(96, 11, 85); }
}
.author_name
{
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  padding-top: 10px;
  font-family:'Press Start 2P',Arial, Helvetica, sans-serif;
  text-align: left;
  color: #243DCE;
  font-size: 25px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
}
.portfolio_parts
{
  
  text-decoration: none;
  padding-top: 10px;
  display: grid;
  color: rgb(156, 25, 156);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
  padding-top: 14px;
}
@media all and (max-width:600px)
{
 .header{
  grid-template-columns: 1fr;
  margin-top: 10px;
 }
 .author_name
 {
  text-align: center;
  padding-top: 5px;
  font-size: 25px;
  margin-bottom: 25px;
 }
 .portfolio_parts{
  font-size: 25px;
  min-width: 400px;
  padding-top: 5px;
 }
}
.dark-mode {
  background-color: #5c5d72;
}
.change_light_button
{
  width: 50px;
  margin-left: 30px;
  border-radius: 20px;
}
.change_light_button_icon
{
  width: 100%;
  border-radius: 10px;
}
