.skills_label
{
  font-family: 'Press Start 2P';
  font-size: 45px;
  color: #243DCE;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 50px;
}
.skills 
{
 display: flex; 
 gap : 10px;
 flex-wrap: wrap;
 justify-content: center;
 
}
.skills_desc
{
}
.skills_picture
{
 object-fit: cover;
}
.python
{
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}