.skills_label
{
  font-family: 'Press Start 2P';
  font-size: 45px;
  color: #243DCE;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 50px;
}
.skills 
{
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  padding: 50px;
}
.skills_desc
{
}
.skills_picture
{
  display: inline-block;
  height: 30%;
}
.python,.c_language,.html,.sql,.css,.javascript,.sqlite
{
display: grid;
grid-template-columns: 1fr 1fr;
border-radius: 10px;
height: 17em;
cursor: pointer;
background-color:#9393e1;
width:23em;
}
